
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="intro">Omid Rooholfada is</h1>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <div class="prof-links col-md-4 col-md-offset-4">
              <a href="https://github.com/omeshomes"><i class="fab fa-github-square"></i></a>
              <a href="https://www.linkedin.com/in/omid-rooholfada-ba32ba118/"><i class="fab fa-linkedin"></i></a>
              <a href="/omid-website/data/resume.pdf"><i class="far fa-address-book"></i></a>
            </div>
            <!-- <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              {% if site.me-img contains "https://" %}
                <img class="img-me" src="{{ site.me-img }}" alt="">
              {% else %}
                <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
              {% endif %}
              
              <i></i>
            </a> -->
            <!-- <i class="fab fa-github" style="font-family: 'Open Sans', sans-serif !important;"></i> -->
            <!-- <i class="fab fa-linkedin"></i> -->
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
